<% provide(:title, 'About') %>
<div class="about">
<h2>The Pantry</h2>
<p> The Pantry is an online personal recipe book that allows user to create and save thier favorite recipes. By creating an account, the user can also edit and delete their recipes.</p>

<p> The Pantry is deployed on Heroku </p>

<h4>Technologies include:</h4>
<!-- <li> -->
  <ul><a href="https://www.ruby-lang.org/">Ruby 2.2</a></ul>
  <ul><a href="http://rubyonrails.org/">Rails 4.2</a></ul>
  <ul><a href="http://www.postgresql.org/">PostgreSQL 9.4</a></ul>
  <ul><a href="http://getbootstrap.com/">Twitter Bootstrap 3.3</a></ul>
  <ul><a href="http://sass-lang.com/">SASS 3.4</a></ul>
  <ul><a href="https://github.com/decioferreira/bootstrap-generators">bootstrap-generators 3.3</a></ul>
<!-- </li> -->
</div>
