<% provide(:title, 'Home') %>
<div class="text-center jumbotron">
  <h1>Welcome to The Pantry </h1>
  <h3> An online recipe book </h3>
  <br/>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Sign in",      signin_path, class: "btn btn-large btn-primary" %>
</div>
